.navbar-brand{
    font-size: 2em;
    color: #0BA9BA !important;
}

.botao{
    display: flex;
    justify-content: space-between; 
    margin: 0 30%;
    position: relative;
    bottom: 200px;
}

curl -d '{"nome":"Robin", "perguntas":"Posso ser o Batman?"}' -H "Conten-Type: application/json" -X POST http://localhost:3000/salas/adicionarperguntas/5d28ac08c435be4060d1e26e
